
<style>
    div {text-align: center;
    list-style-position: inside;
}  
</style>
<div class="container">
<ol class="toc-list" role="list">
    <li>
        <a href="{% url 'welcome' %}">
            <span class="title">Welcome</span>
            <span class="Part"><span class="visually-hidden">Part&nbsp;1</span>
        </a>
        <ol role="list">

            <li>
                <a href="">
                    <span class="title"></span>
                    <span class="Part"></span>
                </a>
            </li>

        </ol>
    </li>
    <li>
        <a href="{% url 'about' %}">
            <span class="title">About</span>
            <span class="Part"><span class="visually-hidden">Part&nbsp;2</span>
        </a>
        <ol role="list">

            <li>
                <a href="">
                    <span class="title"></span>
                    <span class="Part">&nbsp;</span>
                </a>
            </li>
        </ol>
    </li>
    <li>
        <a href="{% url 'contact' %}">
            <span class="title">Contact</span>
            <span class="Part"><span class="visually-hidden">Part&nbsp;3</span>
        </a>
        <ol role="list">

            <li>
                <a href="">
                    <span class="title"></span>
                    <span class="Part">&nbsp;</span>
                </a>
            </li>
        </ol>
    </li>
    <li>
        <a href="{% url 'experience' %}">
            <span class="title">Experience</span>
            <span class="Part"><span
                    class="visually-hidden">Part&nbsp;4</span>
        </a>
        <ol role="list">

            <li>
                <a href="">
                    <span class="title"></span>
                    <span data-href=""
                        class="Part">&nbsp;</span>
                </a>
            </li>
        </ol>
    </li>
    <li>
        <a href="{% url 'pages_templates/base' %}">
            <span class="title">Pages<span class="leaders"
                    aria-hidden="true"></span></span>
            <span class="Part"><span
                    class="visually-hidden">Part&nbsp;5</span>
        </a>
        <ol role="list">

            <li>
                <a href="">
                    <span class="title"></span>
                    <span data-href=""
                        class="Part">&nbsp;</span>
                </a>
            </li>

        </ol>
    </li>
    <li>
        <a href="resume.html">
            <span class="title">Resume</span>
            <span class="Part"><span
                    class="visually-hidden">Part&nbsp;6</span>
        </a>
        <ol role="list">

            <li>
                <a href="">
                    <span class="title"><span class="leaders"
                            aria-hidden="true"></span></span>
                    <span data-href=""
                        class="Part">&nbsp;</span>
                </a>
            </li>

        </ol>
    </li>
    <li>
        <a href="#{% url 'ect' %}">
            <span class="title">Etc.</span>
            <span class="Part"><span class="visually-hidden">Part&nbsp;7</span>
        </a>
        <ol role="list">

            <li>
                <a href="">
                    <span class="title"></span>
                    <span class="Part">&nbsp;</span>
                </a>
            </li>
        </ol>
    </li>
</ol>
</div>
{% block content %} {% endblock content %}
